<!-- <div class="ccs-callout-panel">
  <h2 class="govuk-heading-m">Related content</h2>
  <p class="govuk-body"><a href="#">How suppliers have been evaluated</a> </p>
  <p class="govuk-body"><a href="#">How to buy online</a> </p>
  <p class="govuk-body"><a href="#">Other procurement services</a> </p>
</div> -->
<div class="ccs-callout-panel">
  <h2 class="govuk-heading-m">Related content</h2>
  <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="/agreement/lot?no={{data['this_lot_number']}}" target="_blank">{{data['this_agreement_name'] }}, {{ data['this_lot'] }}</a> </p>
  <!-- <p class="govuk-body"><a href="#">Link to external resource</a> </p>
  <p class="govuk-body"><a href="#">Link to external resource</a> </p> -->
</div>