<div class="ccs-callout-panel whitepaper">
  <a href="" title="Access the Buying digital services in the public sector whitepaper"><img src="/public/images/whitepaper.jpg" alt=""></a>
  <h2 class="govuk-heading-m">Buying digital services in the public sector</h2>
  <p class="govuk-body">Find out how to get the right solution for your cloud or digital requirements.</p>
  <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="#" onclick="return false;" >Access whitepaper</a> </p>
</div>
