<!-- Javascript -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>

{% for scriptUrl in extensionConfig.scripts %}
  <script src="{{scriptUrl}}"></script>
{% endfor %}

<script src="/public/javascripts/zone/form_validation.js"></script>
<script src="/public/javascripts/zone/validate_login.js"></script>
<script src="/public/javascripts/zone/validate_create_or_choose.js"></script>
<script src="/public/javascripts/zone/validate_select_offer.js"></script>
<script src="/public/javascripts/zone/validate_eoi_location.js"></script>
<script src="/public/javascripts/zone/validate_eoi_needs.js"></script>
<script src="/public/javascripts/zone/validate_eoi_security.js"></script>
<script src="/public/javascripts/zone/validate_eoi_incumbent.js"></script>
<script src="/public/javascripts/zone/validate_eoi_budget.js"></script>
<script src="/public/javascripts/zone/eoi_criteria.js"></script>
<script src="/public/javascripts/zone/eoi_supporting_docs.js"></script>
<script src="/public/javascripts/zone/validate_eoi_deadline.js"></script>
<script src="/public/javascripts/zone/validate_eoi_contact.js"></script>
<script src="/public/javascripts/zone/eoi_confidential.js"></script>
<script src="/public/javascripts/zone/collaborators.js"></script>
<script src="/public/javascripts/zone/validate_rfi_who.js"></script>
<script src="/public/javascripts/zone/rfi_dates.js"></script>
<script src="/public/javascripts/zone/validate_rfi_dates.js"></script>
<script src="/public/javascripts/zone/validate_rfi_project.js"></script>
<script src="/public/javascripts/zone/validate_rfi_project_status.js"></script>
<script src="/public/javascripts/zone/rfi_questions.js"></script>
<script src="/public/javascripts/zone/scroll_to_content.js"></script>
<script src="/public/javascripts/zone/rfi_acronyms.js"></script>
<script src="/public/javascripts/zone/validate_rfi_upload.js"></script>
<script src="/public/javascripts/zone/rfi_suppliers.js"></script>
<script src="/public/javascripts/zone/agreement.js"></script>
<script src="/public/javascripts/zone/procurement_lead.js"></script>
<script src="/public/javascripts/zone/procurement_collaborators.js"></script>
<script src="/public/javascripts/zone/rfi_review.js"></script>
<script src="/public/javascripts/zone/requirements_collaborators.js"></script>
<script src="/public/javascripts/zone/validate_project_name.js"></script>
<script src="/public/javascripts/zone/validate_select_field_forms.js"></script>
<script src="/public/javascripts/zone/rfp_deliverables.js"></script>
<script src="/public/javascripts/zone/rfp_key_user.js"></script>
<script src="/public/javascripts/zone/validate_rfp_resource_phase.js"></script>
<script src="/public/javascripts/zone/validate_rfp_duration.js"></script>
<script src="/public/javascripts/zone/rfp_invoicing_address.js"></script>
<script src="/public/javascripts/zone/validate_rfp_invoicing_address.js"></script>
<script src="/public/javascripts/zone/validate_rfp_incumbent.js"></script>
<script src="/public/javascripts/zone/eoi_purpose.js"></script>
<script src="/public/javascripts/zone/eoi_scope.js"></script>
<script src="/public/javascripts/zone/eoi_acronyms.js"></script>
<script src="/public/javascripts/zone/eoi_special_terms.js"></script>
<script src="/public/javascripts/zone/validate_incumbent_form.js"></script>
<script src="/public/javascripts/zone/validate_eoi_upload.js"></script>
<script src="/public/javascripts/zone/eoi_suppliers.js"></script>
<script src="/public/javascripts/zone/eoi_dates.js"></script>
<script src="/public/javascripts/zone/eoi_review.js"></script>
<script src="/public/javascripts/zone/eoi_offline_doc.js"></script>
<script src="/public/javascripts/zone/rfi_offline_doc.js"></script>
<script src="/public/javascripts/zone/validate_eoi_context.js"></script>
<script src="/public/javascripts/zone/validate_eoi_duration.js"></script>
<script src="/public/javascripts/zone/validate_rfi_suppliers.js"></script>
<script src="/public/javascripts/zone/rfp_acronyms.js"></script>
<script src="/public/javascripts/zone/validate_rfp_vetting_confirmation.js"></script>
<script src="/public/javascripts/zone/rfp_total_resource.js"></script>
<script src="/public/javascripts/zone/rfp_dates.js"></script>
<script src="/public/javascripts/zone/rfp_review.js"></script>
<script src="/public/javascripts/zone/rfp_offline_doc.js"></script>
<script src="/public/javascripts/zone/rfp_weightings.js"></script>


<script src="/public/javascripts/application.js"></script>

{% if useAutoStoreData %}
  <script src="/public/javascripts/auto-store-data.js"></script>
{% endif %}
