{% extends "layout_ccs.html" %}

{% block pageTitle %}
Incentives and exit strategy | Crown Commercial Service
{% endblock %}

{% block bcrumbBlock %}
{{ govukBreadcrumbs({
items: [
{
text: "Dashboard",
href: "/dashboard"
},
{
text: "Choose a commercial agreement",
href: "/projects/choose-agreement"
},
{
text: "Procurement overview",
href: "/projects/"
},
{
text: "Write and publish your requirements",
href: "/requirements/rfp/task-list"
},
{
text: "[Add context]",
href: "/requirements/rfp/context/sub-task-list"
},
{
text: "[ Incentives and exit strategy ]"
}
]
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
        [ Incentives and exit strategy ]
    </h1>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
    {% include "includes/project_header.html" %}<br>
    <p class="govuk-body">[ Instructions for this page ]</p><br><br>
    <form id="ccs_rfp_incentives_form" name="ccs_rfp_incentives_form" action="/requirements/rfp/context/sub-task-list" method="post">

      {{ govukTextarea({
      name: "rfp_incentives",
      id: "rfp_incentives",
      label: {
      text: "[ Insert details of any mechanisms to incentivise delivery and/or compensate for poor Supplier performance such as service credits ]",
      classes:"govuk-!-font-weight-bold"
      },
      hint: {
      text: "[ Examples / instructions ]"
      }
      }) }}

      {{ govukTextarea({
      name: "rfp_exit_strategy",
      id: "rfp_exit_strategy",
      label: {
      text: "[ Insert details of any exit strategy to be applied where poor Supplier performance requires early termination of the Contract ]",
      classes:"govuk-!-font-weight-bold"
      },
      hint: {
      text: "[ Examples / instructions ]"
      }
      }) }}

      {{ govukInput({
        id: "rfp_incentives_added",
        name: "rfp_incentives_added",
        type: "hidden",
        value: true
      }) }}

      {{ govukInput({
        id: "rfp_add_context_started",
        name: "rfp_add_context_started",
        type: "hidden",
        value: true
      }) }}

      <br><br>
      <div class="govuk-button-group">
        {{ govukButton({
        text: "Save and continue"
        }) }}
        <a href="/requirements/rfp/context/sub-task-list" class="govuk-link govuk-link--no-visited-state">Return to [Add context]</a>
      </div>
    </form>

  </div>
  {% include "includes/promos/related_only.html" %}
</div>
{% endblock %}