{% extends "layout_ccs.html" %}

{% block pageTitle %}
  RfI - Who is the buyer? | Crown Commercial Service
{% endblock %}

{% block bcrumbBlock %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: data['portal_name'],
        href: "/dashboard"
      },
      {
        text: data['projPersistID'],
        href: "/projects/"
      },
      {
        text: "Who is the buyer?"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Who is the buyer?
      </h1>
      {% include "includes/project_header.html" %}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-body-l">Tell us on whose behalf you will be inviting tenders? </p>

      <form id="ccs_rfi_who_form" name="ccs_rfi_who_form" class="form ccs_rfi_who_form" action="/rfi/questions" method="post">

        {{ govukInput({
          label: {
            text: "Name of the Contracting Authority",
            classes: "govuk-label--m"
          },
          hint: {
            text: "Who is running the procurement?"
          },
          id: "rfi_contracting_auth",
          name: "rfi_contracting_auth",
          value: data['rfi_contracting_auth']
        }) }}

        {{ govukInput({
          label: {
            text: "Organisation you are buying on behalf of (optional)",
            classes: "govuk-label--m"
          },
          hint: {
            text: "If different from the Contracting Authority"
          },
          id: "rfi_on_behalf_of",
          name: "rfi_on_behalf_of",
          value: data['rfi_on_behalf_of']
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue"
          }) }}
          <a href="/projects/" class="govuk-link govuk-link--no-visited-state">Return to project overview</a>
        </div>

      </form>

    </div>



  </div>

{% endblock %}
