<p class="govuk-body">You can use our contract award service to buy from this agreement online. Read the information below before you start.</p>

<p class="govuk-body">You need to run a two-stage further competition to use this agreement. In a two-stage further competition suppliers will give you information about how they can help you. You will evaluate this information and decide which supplier best meets your needs, before you award your contract. You can’t use direct award with this agreement.</p>

<p class="govuk-body">The steps below are a basic guide to buying digital outcomes, digital specialists and participant services for user research. The buying process is different for user research studio services.</p>

<p class="govuk-body">To run a two-stage further competition for this agreement you will need to:</p>




<ol class="govuk-list govuk-list--number">
  <li>sign in or register to use our contract award service</li>
  <li>(optional) do some pre-market engagement. You can do this with an Expression of Interest (EoI) or Request for Information (RfI) where suppliers will tell you if they can provide the services you need. You can do pre-market enagement as many times as you need.</li>
  <li>prepare a draft of your needs. You will also need:
    <ol class="govuk-list govuk-list--number ccs-letters">
      <li>an understanding of what outcomes you want to achieve</li>
      <li>when you need the work completed</li>
      <li>an idea of the budget you have</li>
      <li>approval to buy what you need</li>
    </ol>
  </li>
  <li>write and publish your needs. Read about <a href="https://www.gov.uk/guidance/how-to-write-your-requirements-for-digital-outcomes-and-specialists-services">writing your requirements for Digital Outcomes and Specialists</a></li>
  <li>suppliers may have some questions about your requirements. You will need to answer supplier questions within a set timeframe</li>
  <li>review and score the answers from suppliers about the 'essential' and 'nice-to-have' skills, and experience to create your shortlist</li>
  <li>give feedback to any unsuccessful suppliers</li>
  <li>invite shortlisted suppliers to the assessment stage</li>
  <li>evaluate their written proposals and any additional assessment methods to find the right supplier for your needs</li>
  <li>award a contract and give feedback to any unsuccessful suppliers</li>
  <li>publish the contract on Contracts Finder</li>
</ol>

<p class="govuk-body">You can find more details about the full process in the <a href="https://www.gov.uk/guidance/digital-outcomes-and-specialists-buyers-guide">buyers guide</a>. </p>

<p class="govuk-body">You can find the order form in the document section below. It is also available in the core terms and framework schedules document on the legal documents webpage.</p>
