{% extends "layout_ccs.html" %}

{% block pageTitle %}
  {{ data['choose_pre_engage'] }} contact details | Crown Commercial Service
{% endblock %}

{% block bcrumbBlock %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: data['portal_name'],
        href: "/dashboard"
      },
      {
        text: data['projPersistID'],
        href: "/projects/"
      },
      {
        text: data['choose_pre_engage'] +" contact details"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Review or add the contact details for this event
      </h1>
      {% include "includes/project_header.html" %}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-body">These are contact details associated to your account. </p>

      {{ govukTable({
        firstCellIsHeader: true,
        rows: [
          [
            {
              text: "Name"
            },
            {
              text: "John Adams"
            }
          ],
          [
            {
              text: "Telephone"
            },
            {
              text: "01226 222 222"
            }
          ],
          [
            {
              text: "Email address"
            },
            {
              text: "john@adams.co"
            }
          ]
        ]
      }) }}

      <form id="ccs_eoi_contact_form" name="ccs_eoi_contact_form" class="form ccs_eoi_contact_form" action="/projects/event-confidential" method="post">

        {{ govukRadios({
          idPrefix: "use_stored_contact",
          name: "use_stored_contact",
          fieldset: {
            legend: {
              text: "Would you like to use the contact details above to let suppliers respond?",
            classes: "govuk-label--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue"
          }) }}
          <a href="/projects/" class="govuk-link govuk-link--no-visited-state">Return to project overview</a>
        </div>

      </form>

    </div>

  </div>

{% endblock %}
