{% extends "layout_ccs.html" %}

{% block pageTitle %}
  Matching suppliers | Crown Commercial Service
{% endblock %}

{% block bcrumbBlock %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: data['portal_name'],
        href: "/dashboard"
      },
      {
        text: "Procurement overview",
        href: "/projects/"
      },
      {
        text: "Matching suppliers"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Search results for {{ offerTitle }}
      </h1>
      {% include "includes/project_header.html" %}
      <p class="govuk-body">The <a href="{{ supplierListURL }}">supplier list</a> can be downloaded and is constantly updated inside this agreement. </p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <div class="ccs-callout-panel">
        <h2 class="govuk-heading-s">You have selected the following locations:</h2>

        <ul class="govuk-list govuk-list--bullet">
          {% for loc in locationList %}
          <li>{{ loc }}</li>
          {% endfor %}
        </ul>

        <p class="govuk-body"><a href="/projects/location">Change<span class="visuallyhidden"> selected locations</span></a></p>
      </div>
      <div class="ccs-callout-panel">
        <h2 class="govuk-heading-s">You have selected &quot;{{ offerTitle }}&quot; </h2>
        <p class="govuk-body"><a href="/projects/offer-type">Change<span class="visuallyhidden"> offer type</span></a></p>
      </div>
    </div>
    <div class="govuk-grid-column-two-thirds">

      {% if filteredSuppliers | length > 0 %}
        <h2 class="govuk-heading-m"><span class="">{{ filteredSuppliers | length }} suppliers found for {{ offerTitle }}</h2>

        <form action="/projects/index" method="post">

          {{ govukInput({
            id: "suppliers_selected",
            name: "suppliers_selected",
            type: "hidden",
            value: "true"
          }) }}

          {{ govukInput({
            id: "supplier_count",
            name: "supplier_count",
            type: "hidden",
            value: filteredSuppliers | length
          }) }}

          <div class="govuk-button-group">
            {{ govukButton({
              text: "Save and continue"
            }) }}
            <a class="govuk-link" href="#">Download results</a>
          </div>
        </form>
      {% endif %}

      {% for supp in filteredSuppliers %}

        <div class="ccs-page-section">
          <h3 class="govuk-heading-s"><a href="/projects/supplier?id={{ supp.id }}">{{ supp.name }}</a></h3>

          <p class="govuk-body">{{ supp.description }} </p>
        </div>

      {% else %}

        <h2 class="govuk-heading-m">No matching suppliers found </h2>

        <p class="govuk-body">Return to <a href="/dashboard">{{ data['portal_name'] }}</a> dashboard. </p>

      {% endfor %}

    </div>

  </div>

{% endblock %}
