{% extends "layout_ccs.html" %}

{% block pageTitle %}
Procurement overview | Crown Commercial Service
{% endblock %}

{% block bcrumbBlock %}
{{ govukBreadcrumbs({
items: [
{
text: "Dashboard",
href: "/dashboard"
},
{
text: "Choose a commercial agreement",
href: "/projects/choose-agreement"
},
{
text: "Procurement overview"
}
]
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Procurement overview
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
    {% include "includes/project_header.html" %}<br>

    {{ govukInsetText({
    html:'<p class="govuk-body">Follow the steps below to start and complete your procurement. Each step can be saved
      and continued at any time.</p>
    <p class="govuk-body">You can write your requirements online, using this service, or upload a document instead. You
      can also download what you enter online and save it to your internal systems. </p>
    <p class="govuk-body">You cannot run step two and three at the same time.</p>
    <p class="govuk-body">If you are not sure about the terms and conditions of this lot, please see the <a
        class="govuk-link govuk-link--no-visited-state" href="#">lot detail page</a>.</p>
    '
    }) }}

    <ol class="proc-task-list">
      <li>
        <h2 class="proc-task-list__section">
          <span class="proc-task-list__section-number">1. </span>
          Take a look at the available suppliers
          {% if data['suppliers_selected'] == "true" %}
          <strong class="govuk-tag govuk-tag--green app-task-list__tag" id="suppliers-status">DONE</strong>
          {% else %}
          <strong class="govuk-tag app-task-list__tag" id="suppliers-status">OPTIONAL</strong>
          {% endif %}
        </h2>

        {% if data['suppliers_selected'] != "true" %}

        <p class="govuk-body govuk-!-margin-bottom-9">Every supplier is checked to make sure they can supply the products or services offered by
          the commercial agreement.</p>

          <p class="govuk-body"> This section is optional, if you would like to do pre-market engagement you can go to step 2. If you are ready to write and publish your requirements you can go to step 3 . </p>

        <!-- <p class="govuk-body">Every supplier is checked to make sure they can supply the products or services offered by the commercial agreement. 
          You can sort them by:
        </p> 
        <ul class="govuk-list govuk-list--bullet">
          <li>
            location
          </li>
          <li>
            SME status
          </li>
        </ul> -->

        {{ govukButton({
        text: "See available suppliers",
        disabled: true
        }) }}
        {% else %}
        <p class="govuk-body">You've selected {{ data['supplier_count'] }} suppliers. </p>
        <div class="govuk-button-group">
          {{ govukButton({
          text: "[Edit selected suppliers]",
          classes: "govuk-button--secondary",
          href: "/projects/offer-type"
          }) }}
          <a href="#" onclick="return false;" class="govuk-link govuk-link--no-visited-state">Download supplier list</a>
        </div>
        {% endif %}
      </li>

      <li>
        <h2 class="proc-task-list__section">
          <span class="proc-task-list__section-number">2. </span>
          Do pre-market engagement
          {% if ((data['choose_rfi_type'] == "true" or data['choose_eoi_type'] == "true") and
          data['finished_pre_engage'] != 'true') %}
          <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="preliminary-engagement">IN PROGRESS</strong>
          {% elif data['finished_pre_engage'] == 'true' %}
          <strong class="govuk-tag govuk-tag--green app-task-list__tag" id="preliminary-engagement">DONE</strong>
          {% else %}
          <strong class="govuk-tag app-task-list__tag" id="preliminary-engagement">OPTIONAL</strong>

          {% endif %}
        </h2>

        <p class="govuk-body"> You can ask suppliers questions, before formally publishing your requirements, to find
          out what products and services are available, or refine your needs. For the lot you selected, you can choose
          one of the options below:
        </p>
        {% if data['the_lot'].hasEOI === true %}
        <!-- description for EOI in case the agreement supports incorporate that logic  -->
        <h2 class="govuk-heading-s"> Expression of Interest (EoI) </h2>
        <p class="govuk-body">Find out if suppliers are interested in bidding for your project, and can offer the
          products or services needed. If a supplier does not respond to an EoI sent from the buyer, they cannot bid for
          the opportunity later.</p>
        <br>
        {% endif %}
        {% if data['the_lot'].hasRFI === true %}
        <!-- description for RFI -->
        <h2 class="govuk-heading-s"> Request for Information (RfI) </h2>
        <p class="govuk-body">Gather information for your project from suppliers about the products and services they
          offer, and the commercial terms needed to buy them.</p>
        {% endif %}

        <p class="govuk-body">This section is optional, if you are ready to write and publish your requirements you can
          go to the next step. If you would like to do pre-market engagement you can click the button below.</p>

        <p class="govuk-body">If you start this step you cannot start step 3 at the same time.</p>


        {% if data['choose_rfi_type'] != "true" and data['choose_eoi_type'] != "true" %}
        {{ govukButton({
        text: "Start pre-market engagement",
        href: "/projects/select-path-for-lot"
        }) }}
        {% elif ((data['choose_rfi_type'] == "true" or data['choose_eoi_type'] == "true") and
        data['finished_pre_engage'] != 'true') %}
        {{ govukButton({
        text: "Edit pre-market engagement",
        classes: "govuk-button--secondary",
        href: "/projects/select-edit-premarket-route"
        }) }}
        {% elif ((data['choose_rfi_type'] == "true" or data['choose_eoi_type'] == "true") and
        data['finished_pre_engage'] == 'true') %}
        <div class="govuk-button-group">
          <a href="/projects/select-review-path" class="govuk-link govuk-link--no-visited-state">View details</a>
        </div>
        {% endif %}

      </li>

      <li>
        <h2 class="proc-task-list__section">
          <span class="proc-task-list__section-number">3. </span>
          Write and publish your requirements

          {% if data['reqsPublished'] | length > 0 and data['projReq'] | length > 0 %}
          <strong class="govuk-tag govuk-tag govuk-tag--green app-task-list__tag"
            id="publish-requirements">DONE</strong>
          {% elif data['reqsPublished'] | length == 0 and data['projReq'] | length > 0 %}
          <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="publish-requirements">IN PROGRESS</strong>
          {% else %}
          <strong class="govuk-tag app-task-list__tag" id="publish-requirements">TO DO</strong>
          {% endif %}
        </h2>


        {% if data['reqsPublished'] | length > 0 and data['projReq'] | length > 0 %}

        <p class="govuk-body">You've created your requirements, but they have not yet been published. </p>
        {{ govukButton({
        text: "Review and publish requirements",
        href: "/projects/review-requirements"
        }) }}

        {% elif data['reqsPublished'] | length > 0 %}

        <p class="govuk-body">You've created and published your requirements - they can no longer be edited. </p>

        <div class="govuk-button-group">
          <a href="/projects/review-requirements" class="govuk-link govuk-link--no-visited-state">View requirements</a>
        </div>

        {% else %}
        <p class="govuk-body">Write and publish your bid-pack for suppliers, who can then submit their responses to your requirements and compelte any other evaluation tasks set by you.</p>

          <p class="govuk-body"> You will need a clear set of criteria that suppliers will need to meet, and be evaluated against. You will also need to include how you will score their responses.</p>
          
            <p class="govuk-body">For the lot you selected, you can run your procurement in one of the following ways:</p>
          
            {% if data['the_lot'].hasOneStageFc === true %}
           <h2 class="govuk-heading-s">One stage further competition</h2>
            <p class="govuk-body">You will need to invite all suppliers to bid for your opportunity and assess all bids that are submitted.</p>
            {% endif %}
            {% if data['the_lot'].hasTwoStageFc === true %}
            <h2 class="govuk-heading-s">Two stage further competition</h2>
            <p class="govuk-body">You can shortlist the suppliers to find the ones most suitable for your procurement using a capability assessment tool.</p>
            <p class="govuk-body">Only the suppliers on the shortlist will be invited to bid for your opportunity.</p>
            {% endif %}

            {% if data['the_lot'].hasDirectAward === true %}
            <h2 class="govuk-heading-s">Direct award</h2>
            <p class="govuk-body">Based on the supplier responses you receive, if you find a single supplier who can meet your needs you can choose to award your contract directly to them after completing a capability assessement.</p>
            {% endif %}

            <p>You need to complete this step before you can award your contract.</p>

            <p>If you start this step you cannot start step 2 at the same time.</p>
        <!-- 
            <p class="govuk-body">Once you've created a project you'll be guided in the preparation of your requirements and suppliers will be given x weeks to submit their written proposals.</p>
            <p class="govuk-body">Usually it takes between X and X weeks to complete this activity.</p> -->

        <!-- {% if data['projPersistID'] | length > 0 %}
              {{ govukButton({
                text: "Write and publish requirements",
                href: "/projects/requirements"
              }) }}
            {% else %}
              {{ govukButton({
                text: "Write and publish requirements",
                disabled: true
              }) }}
            {% endif %}-->

        <!-- This condition is only in this prototype to disable journey for MCf-3 as MCF-3 has no one stage FC
               and at the moment prototype only is for one stage FC  -->
        {% if data['the_lot'].hasOneStageFc === true %}
        {{ govukButton({
        text: "Start to write and publish your requirements",
        href: "/requirements/choose-route.html"
        }) }}
        {% else %}
        {{ govukButton({
        text: "Start to write and publish your requirements",
        disabled: true
        }) }}
        {% endif %}
        {% endif %}
        <br>
        <!-- {{ govukButton({
        text: "Start to write and publish your requirements",
        disabled: true
        }) }} -->

      </li>
      <li>
        <h2 class="proc-task-list__section">
          <span class="proc-task-list__section-number">4. </span>
          Award your contract
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="engagement-status">CANNOT START YET</strong>
        </h2>
        <p class="govuk-body">When you have completed your evaluation and found a suitable supplier, you can award your
          contract.</p>

        <p class="govuk-body">You will need to give feedback to any unsuccessful suppliers.</p><br>
        <!-- <p class="govuk-body">If you're happy to award a supplier, you'll be able to do it in {{ data['portal_name'] }} as well. You'll also need to give feedback to any unsuccesful suppliers.</p>
          <p class="govuk-body">Usually it takes between X and X weeks to complete this activity.</p> -->

        <!-- {{ govukButton({
            text: "Award contract",
            disabled: true
          }) }} -->
      </li>

      <li>
        <h2 class="proc-task-list__section">
          <span class="proc-task-list__section-number">5. </span>
          Publish your contract
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="engagement-status">CANNOT START YET</strong>
        </h2>
        <p class="govuk-body">You need to publish the contract on <a href="https://www.gov.uk/contracts-finder">
            Contracts Finder</a>. This is a legal requirement. </p>
        <br><br>

        <!-- <p class="govuk-body">In this last activity you'll be able to register your contract on <a href="#">Contracts Finder</a> and complete a small number of tasks to close the project.</p>

          {{ govukButton({
            text: "Publish contract",
            disabled: true
          }) }} -->
      </li>

    </ol>
  </div>

  {% include "includes/promos/related_only.html" %}

</div>

{% endblock %}