{% extends "layout_ccs.html" %}

{% block pageTitle %}
Upload requirements | Crown Commercial Service
{% endblock %}

{% block bcrumbBlock %}
{{ govukBreadcrumbs({
items: [
{
text: "Dashboard",
href: "/dashboard"
},
{
text: "Choose a commercial agreement",
href: "/projects/choose-agreement"
},
{
text: "Procurement overview",
href: "/projects/"
},
{
text: "Write and publish your requirements",
href: "/requirements/rfp/task-list"
},
{
text: "[ Upload your requirements ]"
}
]
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
            [ Upload your requirements ]
        </h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
        {% include "includes/project_header.html" %} <br>

        <p class="govuk-body">[instructions for this page]</p> <br>
        <br>
        <div class="ccs-page-section"></div>
        <br>
        <form id="ccs_rfp_offline_requirement_form" name="ccs_rfp_offline_requirement_form" class="form" action="/requirements/rfp/task-list" method="post">

        {{ govukFileUpload({
            id: "rfp_offline_requirement",
            name: "rfp_offline_requirement",
            value: data['rfp_offline_requirement'],
            label: {
            text: "Upload a file",
            classes: "govuk-label--m"
            }
            }) 
        }}

        {{ govukInput({
            id: "ccs_rfp_requirements_added",
            name: "ccs_rfp_requirements_added",
            type: "hidden",
            value: true
            }) }}

        <br>

        <div class="govuk-button-group">
          {{ govukButton({
          text: "Save and continue"
          }) }}
          <a href="/requirements/rfp/task-list" class="govuk-link govuk-link--no-visited-state">Return to write and publish your requirements </a>
        </div>
    </form>
</div>
    {% include "includes/promos/related_only.html" %}
</div>
{% endblock %}