{% extends "layout_ccs.html" %}

{% block pageTitle %}
Choose how to create your requirements | Crown Commercial Service
{% endblock %}

{% block bcrumbBlock %}
{{ govukBreadcrumbs({
items: [
{
text: "Dashboard",
href: "/dashboard"
},
{
text: "Choose a commercial agreement",
href: "/projects/choose-agreement"
},
{
text: "Procurement overview",
href: "/projects/"
},
{
text: "Write and publish your requirements",
href: "/requirements/rfp/task-list"
},
{
text: "[ How would you like to create your requirements?]"
}
]
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
            [ How would you like to create your requirements?]
        </h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
        {% include "includes/project_header.html" %} <br>

        <p class="govuk-body">[instructions for this page]</p> <br>

        <form id="ccs_rfp_requirement_mode_form" name="ccs_rfp_requirement_mode_form" class="form ccs_ca_type_form" action="/requirements/rfp/select-rfp-requirement-mode" method="post">

            {{ govukRadios({
              idPrefix: "ccs_rfp_requirement_mode",
              name: "ccs_rfp_requirement_mode",
              items: [
              {
                value: "all_online",
                html: "<h3 class='govuk-heading-m'>[ Write your requirements online ]</h3>",
                hint: {
                  text: "[description]"
                },
                checked: checked("ccs_rfp_requirement_mode", "all_online")
              },
              {
                value: "all_offline",
                html: "<h3 class='govuk-heading-m'>[ Upload your requirements ]</h3>",
                hint: {
                  text: "[description] "
                },
                checked: checked("ccs_rfp_requirement_mode", "all_offline")
              }
              ]
            }) }}
    
        {{ govukInput({
            id: "ccs_rfp_requirement_mode_selected",
            name: "ccs_rfp_requirement_mode_selected",
            type: "hidden",
            value: true
            }) }}
        <br>
            <div class="govuk-button-group">
              {{ govukButton({
              text: "Save and continue"
              }) }}
              <a href="/requirements/rfp/task-list" class="govuk-link govuk-link--no-visited-state">Return to write and publish your requirements</a>
            </div>
        </form>
    </div>
    {% include "includes/promos/related_only.html" %}
</div>

{% endblock %}