{% extends "layout_ccs.html" %}

{% block pageTitle %}
Select scoring criteria | Crown Commercial Service
{% endblock %}

{% block bcrumbBlock %}
{{ govukBreadcrumbs({
items: [
{
text: "Dashboard",
href: "/dashboard"
},
{
text: "Choose a commercial agreement",
href: "/projects/choose-agreement"
},
{
text: "Procurement overview",
href: "/projects/"
},
{
 text: "Write and publish your requirements",
href: "/requirements/rfp/task-list"
},
{
text: "[ How would you like to set your scoring criteria? ]"
}
]
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-xl">
            [ How would you like to set your scoring criteria? ]
        </h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
        {% include "includes/project_header.html" %} <br>

        <p class="govuk-body">[ Instructions for this page ]</p> <br>

        <form id="rfp_scoring_criteria_form" name="rfp_scoring_criteria_form" class="form rfp_scoring_criteria_form" action="/requirements/rfp/select-scoring-criteria" method="post">

            {{ govukRadios({
              idPrefix: "rfp_scoring_criteria_type",
              name: "rfp_scoring_criteria_type",
              items: [
              {
                value: "ccs",
                html: "<h3 class='govuk-heading-m'>[ Choose from a CCS scoring criteria set ]</h3>",
                hint: {
                  text: "[ Description for this option ]"
                },
                checked: checked("rfp_scoring_criteria_type", "ccs")
              },
              {
                value: "own",
                html: "<h3 class='govuk-heading-m'>[ Create your own ]</h3>",
                hint: {
                  text: "[ Description for this option ]"
                },
                checked: checked("rfp_scoring_criteria_type", "own")
              }
              ]
            }) }}
            
    
        {{ govukInput({
            id: "rfp_scoring_criteria_type_set",
            name: "rfp_scoring_criteria_type_set",
            type: "hidden",
            value: true
            }) }}
        <br><br>
            <div class="govuk-button-group">
              {{ govukButton({
              text: "Save and continue"
              }) }}
              <a href="/requirements/rfp/task-list" class="govuk-link govuk-link--no-visited-state">Return to [ Write and publish your requirements ] </a>
            </div>
        </form>
    </div>
    {% include "includes/promos/related_only.html" %}
</div>

{% endblock %}