{% extends "layout_ccs.html" %}

{% block pageTitle %}
Provide information online
{% endblock %}

{% block bcrumbBlock %}
{{ govukBreadcrumbs({
items: [
{
text: "Dashboard",
href: "/dashboard"
},
{
text: "Choose a commercial agreement",
href: "/projects/choose-agreement"
},
{
text: "[Procurement overview]",
href: "/projects/"
},
{
text: "[ 2. Run pre-market engagement ]",
href: "/rfi/rfi-task-list"
},
{
text: "[ Complete and upload a document ]"
}
]
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      [ Build your Request for Information (RFI) ]
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
    {% include "includes/project_header.html" %} <br>

    <div>
      <p class="govuk-body">[instruction for this page]</p> <br><br><br>
    </div>

    <!-- {{ govukButton({
            text: "[Download the CCS for Request for Information]",
            href: "#",
            classes: "govuk-button--secondary"
          }) 
        }} -->


    <section class="attachment embedded" id="attachment_eoi_template">
      <div class="attachment-thumb">
        <img alt="" src="/public/images/document-preview.png">

        <!-- <img alt="" src="https://www.gov.uk/assets/whitehall/pub-cover-spreadsheet-471052e0d03e940bbc62528a05ac204a884b553e4943e63c8bffa6b8baef8967.png"> -->
      </div>
      <div class="attachment-details">
        <a href="#" onclick="return false;" class="govuk-link">
          <h3 class="title govuk-!-font-size-27 govuk-!-font-weight-regular">[Document title]</h3>
        </a>
        <p class="metadata">
          <span class="download">
            PDF
            219KB
          </span>
        </p>

        <div data-module="toggle" class="accessibility-warning" id="attachment-help">
          <p>This file may not be suitable for users of assistive technology.</p>
          <details class="gem-c-details govuk-details govuk-!-margin-bottom-3">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Request an accessible format.
              </span>
            </summary>
            <div class="govuk-details__text details-margin">

              If you use assistive technology (such as a screen reader) and need a
              version of this document in a more accessible format, please email <a
                href="mailto:info@crowncommercial.gov.uk"
                class="govuk-link"><strong>info@crowncommercial.gov.uk</strong></a>.
              Please tell us what format you need. It will help us if you say what assistive technology you use.


            </div>
          </details>
        </div>
      </div>
    </section>

    <form id="ccs_rfi_offline_doc" name="ccs_rfi_offline_doc" class="form" action="/rfi/rfi-task-list" method="post">
      <br><br>
      <h2 class="govuk-heading-m"> Section title</h2>

      {{ govukAccordion({
      id: "rfi_document_accordion",
      items: [
      {
      heading: {
      text: "Ask suppliers questions"

      },
      content: {
      html: ''
      }
      },
      {
      heading: {
      text: "The buying organisation"
      },
      content: {
      html: ''
      }
      },
      {
      heading: {
      text: "[ Security and vetting requirements ]"
      },
      content: {
      html: ''
      }
      },
      {
      heading: {
      text: "[ Key terms and acronyms ]"
      },
      content: {
      html: ''
      }
      },
      {
      heading: {
      text: "[ Where the work will be completed ]"
      },
      content: {
      html: ''
      }
      },
      {
      heading: {
      text: "[ About the project ]"
      },
      content: {
      html: ''
      }
      },
      {
      heading: {
      text: "[ Status of the project ]"
      },
      content: {
      html: ''
      }
      }

      ]
      }) }}

      <br><br><br>
      <div class="ccs-page-section">
        {{ govukFileUpload({
        id: "rfi_offline_document",
        name: "rfi_offline_document",
        value: data['rfi_offline_document'],
        label: {
        text: "Upload a file",
        classes: "govuk-label--m"
        }
        }) }}
      </div>

      <p class="govuk-body">
      <h2 class="govuk-heading-m"> Publish your RfI</h2>
      </p>
      <p class="govuk-body">
        After publishing this RfI, you can cancel amend, clarify, add to or wtihdraw all or part of it, at any time.
      </p>

      <p class="govuk-body">
        The document sent to suppliers will also include a number of best practice statements from your organisation.
        These are in the link below for you to review.
      </p>
      <br><br>

      {{ govukWarningText({
      text:"By publishing this Request for Information (RfI) to all the suppliers you selected, you are stating that, to
      the best of your knowledge, the information you have provided is correct.",
      iconFallbackText: "Warning"
      }) }}

      <div class="ccs-link-group">
        <span><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M0 1.77778C0 1.34823 0.335786 1 0.75 1H5.00286C6.23012 1 7.31979 1.61142 8.00393 2.55666C8.68803 1.61146 9.77766 1 11.005 1H15.25C15.6642 1 16 1.34823 16 1.77778V12.6667C16 13.0962 15.6642 13.4445 15.25 13.4445H10.7426C10.1459 13.4445 9.57361 13.6903 9.15165 14.1279L8.53033 14.7722C8.23744 15.0759 7.76256 15.0759 7.46967 14.7722L6.84835 14.1279C6.42639 13.6903 5.8541 13.4445 5.25736 13.4445H0.75C0.335786 13.4445 0 13.0962 0 12.6667V1.77778ZM8.755 4.8889C8.755 3.60023 9.76236 2.55556 11.005 2.55556H14.5V11.8889H10.7426C10.0326 11.8889 9.34339 12.0978 8.75124 12.4825L8.755 4.8889ZM7.25124 12.4842L7.255 7.22297L7.25285 4.88668C7.25167 3.59887 6.24466 2.55556 5.00286 2.55556H1.5V11.8889H5.25736C5.96836 11.8889 6.65854 12.0983 7.25124 12.4842Z"
              fill="#505A5F" />
          </svg>&nbsp;&nbsp;<a href="#" onclick="return false;" class="govuk-link govuk-link--no-visited-state"> link
            1</a>
        </span>
        <br>


      </div>
      <br><br>

      {{ govukCheckboxes({
      idPrefix: "rfi_publish_doc_confirmation",
      name: "rfi_publish_doc_confirmation",
      items: [
      {
      "value": 1,
      html: "<label><strong>By checking this box, I confirm that I have read and confirm the statements
          above</strong></label>",
      checked: checked("rfi_publish_doc_confirmation", "1")
      }
      ]
      }) }}

      {{ govukInput({
      id: "rfi_build_completed",
      name: "rfi_build_completed",
      type: "hidden",
      value: true
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          attributes: {
            id: "rfi_btn_publish_doc_now"
            },
        text: "Save and continue"
        }) }}
        <a href="/rfi/rfi-task-list" class="govuk-link govuk-link--no-visited-state">Return to [Run pre-market
          engagement]</a>
      </div>
    </form>

  </div>
  {% include "includes/promos/related_only.html" %}
</div>

{% endblock %}