{% extends "layout_ccs.html" %}

{% block pageTitle %}
EoI - response date | Crown Commercial Service
{% endblock %}

{% block bcrumbBlock %}
{{ govukBreadcrumbs({
    items: [
    {
    text: "Dashboard",
    href: "/dashboard"
    },
    {
    text: "Choose a commercial agreement",
    href: "/projects/choose-agreement"
    },
    {
    text: "Procurement overview",
    href: "/projects/"
    },
    {
    text: "Do pre-market engagement",
    href: "/eoi/eoi-task-list"
    },
    {
    text: "Your EoI timeline"
    }
    ]
    }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
            Your EoI timeline
        </h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">

        {% include "includes/project_header.html" %} <br>

        <p class="govuk-body">A suggested timeline of 10 working days is already entered below. This takes the process up to when suppliers have submitted their responses, and allows a further 6 working days for you to decide what to do next and confirm that to the suppliers.</p> 
        
        <p class="govuk-body">There are:
           <ul class="govuk-list govuk-list--bullet" style="margin-left: 10px;margin-top: -13px;"><li> 4 working days from publishing the EoI until the clarification period closes</li> 
           <li>2 working days from the clarification period closing to publishing your responses to the clarification questions</li>
        <li>4 working days from publishing responses to the clarification questions to the deadline for suppliers to submit their response</li></ul></p>

        <p class="govuk-body">The clarification period is when suppliers can ask you further questions before submitting their information. You must meet the deadline you set for responding to their questions.</p>

        <p class="govuk-body"><strong>You can change the length of time for each section to more suitable times for you.</strong></p>
       <br>
       
        <div class="govuk-form-group ccs-page-section">
            <p class="govuk-body-l"><strong>Timeline for your EoI</strong></p> <br>
        </div>

        <div class="govuk-form-group ccs-page-section eoi_publish_date">
            <p class="govuk-body"><span>1 &nbsp; </span> Publish your EoI </p>
            <p class="govuk-body ccs-publish-date-margin">This will always show the current date.</p>
            <div id="eoi_publish_date">
                <label class="govuk-label govuk-body"><strong>{{ eoi_publish_date_string }}</strong></label>
            </div>
            <br>
        </div>

        <form id="ccs_eoi_response_date_form" name="ccs_eoi_response_date_form" class="ccs_eoi_response_date_form"
            action="/eoi/review" method="POST">

            <div class="govuk-form-group ccs-page-section eoi_publish_date">
                <p class="govuk-body"><span>2 &nbsp; </span>Clarification period ends</p>

                <div id="eoi_clarification_date">
                    <label class="govuk-label govuk-body"><strong id="lbl-clarification">{{ clarification_date_string
                            }}</strong></label>
                    <a href='#' id="change_clarification_date"
                        class="govuk-link govuk-link--no-visited-state change">change</a>
                </div>

                <div id="eoi_clarification_date_expanded">
                    <div>
                        <label class="govuk-label govuk-body"><strong id="lbl-clarification_copy">{{
                                clarification_date_string }}</strong></label>
                        <br> <a href='#' id="cancel_change_clarification_date"
                            class="govuk-link govuk-link--no-visited-state ">I do not want to change this date and time</a>
                    </div>
                    <br>
                    <fieldset class="govuk-fieldset" role="group" aria-describedby="clarification_end_date">

                        <div class="govuk-date-input" id="clarification_date">

                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="clarification_date-day">
                                        Day
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                        id="clarification_date-day" name="clarification_date-day" type="text"
                                        pattern="[0-9]*" inputmode="numeric"
                                        value="{{ data['clarification_date-day'] }}">
                                </div>
                            </div>

                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="clarification_date-month">
                                        Month
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                        id="clarification_date-month" name="clarification_date-month" type="text"
                                        pattern="[0-9]*" inputmode="numeric"
                                        value="{{ data['clarification_date-month'] }}">
                                </div>
                            </div>

                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="clarification_date-year">
                                        Year
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                                        id="clarification_date-year" name="clarification_date-year" type="text"
                                        pattern="[0-9]*" inputmode="numeric"
                                        value="{{ data['clarification_date-year'] }}">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="govuk-fieldset" role="group" aria-describedby="clarification_end_time">

                        <div class="govuk-date-input" id="clarification_time">

                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="clarification_date-hour">
                                        Hour
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                        id="clarification_date-hour" name="clarification_date-hour" type="text"
                                        pattern="[0-9]*" inputmode="numeric"
                                        value="{{ data['clarification_date-hour'] }}">
                                </div>
                            </div>

                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="clarification_date-minute">
                                        Minutes
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                        id="clarification_date-minute" name="clarification_date-minute" type="text"
                                        pattern="[0-9]*" inputmode="numeric"
                                        value="{{ data['clarification_date-minute'] }}">
                                </div>
                            </div>

                            <div class="govuk-date-input__item">
                                {{ govukSelect({
                                id: "clarification_date-hourFormat",
                                name: "clarification_date-hourFormat",
                                classes: "",
                                items: [
                                { value:"",
                                text:"Please select"
                                },
                                { value:"AM",
                                text:"AM"
                                },
                                { value:"PM",
                                text:"PM"
                                }
                                ]
                                })
                                }}
                            </div>
                        </div>
                    </fieldset>
                    {{ govukButton({
                    attributes: {
                    id: "save_clarification_date"
                    },
                    text: "Save New Date"
                    }) }}
                </div>
            </div>

            <!-- 3 date start -->
            <div class="govuk-form-group ccs-page-section eoi_publish_date">
                <p class="govuk-body"><span>3 &nbsp; </span> Deadline for publishing responses to EoI clarification questions</p>
                <div id="eoi_clarification_response_date">
                    <label class="govuk-label govuk-body"><strong id='lbl-clarification-response'>{{
                            clarification_response_date_string}}</strong></label>
                    <a href='#' id="change_clarification_response_date"
                        class="govuk-link govuk-link--no-visited-state change">change</a>
                </div>

                <div id="eoi_clarification_response_date_expanded">
                    <div>
                        <label class="govuk-label govuk-body"><strong id='lbl-clarification-response_copy'>{{
                                clarification_response_date_string }}</strong></label>
                        <br><a href='#' id="cancel_clarification_response_date"
                            class="govuk-link govuk-link--no-visited-state change">I do not want to change this date and time</a>
                    </div>
                    <br>
                    <fieldset class="govuk-fieldset" role="group" aria-describedby="clarification_response_end_date">

                        <div class="govuk-date-input" id="clarification_response_date">

                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label"
                                        for="clarification_response_date-day">
                                        Day
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                        id="clarification_response_date-day" name="clarification_response_date-day"
                                        type="text" pattern="[0-9]*" inputmode="numeric"
                                        value="{{ data['clarification_response_date-day'] }}">
                                </div>
                            </div>

                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label"
                                        for="clarification_response_date-month">
                                        Month
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                        id="clarification_response_date-month" name="clarification_response_date-month"
                                        type="text" pattern="[0-9]*" inputmode="numeric"
                                        value="{{ data['clarification_response_date-month'] }}">
                                </div>
                            </div>

                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label"
                                        for="clarification_response_date-year">
                                        Year
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                                        id="clarification_response_date-year" name="clarification_response_date-year"
                                        type="text" pattern="[0-9]*" inputmode="numeric"
                                        value="{{ data['clarification_response_date-year'] }}">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="govuk-fieldset" role="group" aria-describedby="clarification_response_end_time">

                        <div class="govuk-date-input" id="clarification_response_time">

                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label"
                                        for="clarification_response_date-hour">
                                        Hour
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                        id="clarification_response_date-hour" name="clarification_response_date-hour"
                                        type="text" pattern="[0-9]*" inputmode="numeric"
                                        value="{{ data['clarification_response_date-hour'] }}">
                                </div>
                            </div>

                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label"
                                        for="clarification_response_date-minute">
                                        Minutes
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                        id="clarification_response_date-minute"
                                        name="clarification_response_date-minute" type="text" pattern="[0-9]*"
                                        inputmode="numeric" value="{{ data['clarification_response_date-minute'] }}">
                                </div>
                            </div>

                            <div class="govuk-date-input__item">
                                {{ govukSelect({
                                id: "clarification_response_date-hourFormat",
                                name: "clarification_response_date-hourFormat",
                                classes: "",
                                items: [
                                { value:"",
                                text:"Please select"
                                },
                                { value:"AM",
                                text:"AM"
                                },
                                { value:"PM",
                                text:"PM"
                                }
                                ]
                                })
                                }}
                            </div>
                        </div>
                    </fieldset>
                    {{ govukButton({
                    attributes: {
                    id: "save_clarification_response_date"
                    },
                    text: "Save New Date"
                    }) }}
                </div>

            </div>
            <!-- 3 date end -->
            <!-- 4 date start -->
            <div class="govuk-form-group ccs-page-section eoi_publish_date">
                <p class="govuk-body"><span>4 &nbsp; </span>Deadline for suppliers to submit their EoI response </p>
                <div id="eoi_response_date">
                    <label class="govuk-label govuk-body"><strong id="lbl-res-date">{{ eoi_response_date_string
                            }}</strong></label>
                    <a href='#' id="change_eoi_response_date"
                        class="govuk-link govuk-link--no-visited-state change">change</a>
                </div>

                <div id="eoi_response_date_expanded">
                    <div>
                        <label class="govuk-label govuk-body"><strong id="lbl-res-date_copy">{{ eoi_response_date_string
                                }}</strong></label>
                        <br> <a href='#' id="cancel_eoi_response_date"
                            class="govuk-link govuk-link--no-visited-state change">I do not want to change this date and time</a>
                    </div>
                    <br>
                    <fieldset class="govuk-fieldset" role="group" aria-describedby="eoi_response_end_date">

                        <div class="govuk-date-input" id="response_date">

                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="response_date-day">
                                        Day
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                        id="response_date-day" name="response_date-day" type="text" pattern="[0-9]*"
                                        inputmode="numeric" value="{{ data['response_date-day'] }}">
                                </div>
                            </div>

                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="response_date-month">
                                        Month
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                        id="response_date-month" name="response_date-month" type="text" pattern="[0-9]*"
                                        inputmode="numeric" value="{{ data['response_date-month'] }}">
                                </div>
                            </div>

                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="response_date-year">
                                        Year
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                                        id="response_date-year" name="response_date-year" type="text" pattern="[0-9]*"
                                        inputmode="numeric" value="{{ data['response_date-year'] }}">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="govuk-fieldset" role="group" aria-describedby="response_end_time">

                        <div class="govuk-date-input" id="response_date_time">

                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="response_date-hour">
                                        Hour
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                        id="response_date-hour" name="response_date-hour" type="text" pattern="[0-9]*"
                                        inputmode="numeric" value="{{ data['response_date-hour'] }}">
                                </div>
                            </div>

                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="response_date-minute">
                                        Minutes
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                        id="response_date-minute" name="response_date-minute" type="text"
                                        pattern="[0-9]*" inputmode="numeric" value="{{ data['response_date-minute'] }}">
                                </div>
                            </div>

                            <div class="govuk-date-input__item">
                                {{ govukSelect({
                                id: "response_date-hourFormat",
                                name: "response_date-hourFormat",
                                classes: "",
                                items: [
                                { value:"",
                                text:"Please select"
                                },
                                { value:"AM",
                                text:"AM"
                                },
                                { value:"PM",
                                text:"PM"
                                }
                                ]
                                })
                                }}
                            </div>
                        </div>
                    </fieldset>
                    {{ govukButton({
                    attributes: {
                    id: "save_response_date"
                    },
                    text: "Save New Date"
                    }) }}
                </div>

            </div>
            <!-- 4 date end -->
            <!-- 5 date start -->
            <div class="govuk-form-group ccs-page-section eoi_publish_date">
                <p class="govuk-body"><span>5 &nbsp; </span>Confirm your next steps to suppliers</p>
                <div id="eoi_next_steps_date">
                    <label class="govuk-label govuk-body"><strong id="lbl-ns-date">{{ next_steps_date_string
                            }}</strong></label>
                    <a href='#' id="change_next_steps_date"
                        class="govuk-link govuk-link--no-visited-state change">change</a>
                </div>

                <div id="eoi_next_steps_expanded">
                    <div>
                        <label class="govuk-label govuk-body"><strong
                                id="lbl-ns-date_copy">{{next_steps_date_string}}</strong></label>
                        <br><a href='#' id="cancel_next_steps_date"
                            class="govuk-link govuk-link--no-visited-state change">I do not want to change this date and time</a>
                    </div>
                    <br>
                    <fieldset class="govuk-fieldset" role="group" aria-describedby="eoi_next_steps_date">

                        <div class="govuk-date-input" id="next_steps_date">

                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="next_steps_date-day">
                                        Day
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                        id="next_steps_date-day" name="next_steps_date-day" type="text" pattern="[0-9]*"
                                        inputmode="numeric" value="{{ data['next_steps_date-day'] }}">
                                </div>
                            </div>

                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="next_steps_date-month">
                                        Month
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                        id="next_steps_date-month" name="next_steps_date-month" type="text"
                                        pattern="[0-9]*" inputmode="numeric"
                                        value="{{ data['next_steps_date-month'] }}">
                                </div>
                            </div>

                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="next_steps_date-year">
                                        Year
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                                        id="next_steps_date-year" name="next_steps_date-year" type="text"
                                        pattern="[0-9]*" inputmode="numeric" value="{{ data['next_steps_date-year'] }}">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="govuk-fieldset" role="group" aria-describedby="next_steps_time">

                        <div class="govuk-date-input" id="next_steps_time">

                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="next_steps-hour">
                                        Hour
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                        id="next_steps-hour" name="next_steps-hour" type="text" pattern="[0-9]*"
                                        inputmode="numeric" value="{{ data['next_steps-hour'] }}">
                                </div>
                            </div>

                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="next_steps-minute">
                                        Minutes
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                        id="next_steps-minute" name="next_steps-minute" type="text" pattern="[0-9]*"
                                        inputmode="numeric" value="{{ data['next_steps-minute'] }}">
                                </div>
                            </div>

                            <div class="govuk-date-input__item">
                                {{ govukSelect({
                                id: "next_steps-hourFormat",
                                name: "next_steps-hourFormat",
                                classes: "",
                                items: [
                                { value:"",
                                text:"Please select"
                                },
                                { value:"AM",
                                text:"AM"
                                },
                                { value:"PM",
                                text:"PM"
                                }
                                ]
                                })
                                }}
                            </div>
                        </div>
                    </fieldset>
                    {{ govukButton({
                    attributes: {
                    id: "save_next_step_date"
                    },
                    text: "Save New Date"
                    }) }}
                </div>

            </div>



            {{ govukInput({
            id: "eoi_response_date_set",
            name: "eoi_response_date_set",
            type: "hidden",
            value: true
            }) }}

            <div class="govuk-button-group">
                {{ govukButton({
                text: "Save and continue"
                }) }}
                <a href="/eoi/eoi-task-list" class="govuk-link govuk-link--no-visited-state">Return to Do pre-market engagement</a>
            </div>
        </form>
    </div>

    {% include "includes/promos/related_only.html" %}
</div>



{% endblock %}